#cardItem{
    background-color: #D3E7f3;
    border-width: 5px;
    border-color: #6CA0D1;
    border-style: double
}

.creditLink{
    text-align: center;
  }

  
#phamplet{
    background-color: #F6FCFC;
}

.importantBold{
    font-weight: bold;
}