<body id="phamplet">
    <div class="col-xs-12 col-md-8 container" >
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" id="cardItem">


            <div class="col-auto d-none d-lg-block">
                <img class="bd-placeholder-img"  src="assets/Mysteries/Luminous/first.jpg" height="250" width="200">

            </div>

           <div class="col p-4 d-flex flex-column position-static">
            <h2 class="mb-0">The First Luminous Mysteries</h2>
            <h3 class="mb-0"><strong class="d-inline-block mb-2 text-primary pannel-heading">Baptism of Jesus</strong></h3>
            <div class="mb-1 text-muted"></div>
            <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <div class="mb-1 text-muted"></div>
            <p class="card-text mb-auto"><strong>One Our Father, Ten Hail Marys, One Glory Be</strong></p>
            <h4 class="mb-0">For submission to God's will.</h4>
            
          </div>
          
        </div>
      </div>
     
      <div class="col-xs-12 col-md-8 container" >
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" id="cardItem">


            <div class="col-auto d-none d-lg-block">
                <img class="bd-placeholder-img"  src="assets/Mysteries/Luminous/second.jpg" height="250" width="200">

            </div>

           <div class="col p-4 d-flex flex-column position-static">
            <h2 class="mb-0">The Second Luminous Mysteries</h2>
            <h3 class="mb-0"><strong class="d-inline-block mb-2 text-primary pannel-heading">Proclamation of the Kingdom of God</strong></h3>
            <div class="mb-1 text-muted"></div>
            <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <div class="mb-1 text-muted"></div>
            <p class="card-text mb-auto"><strong>One Our Father, Ten Hail Marys, One Glory Be</strong></p>
            <h4 class="mb-0">For devotion to Mary.</h4>
            
          </div>
          
        </div>
      </div>

      <div class="col-xs-12 col-md-8 container" >
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" id="cardItem">


            <div class="col-auto d-none d-lg-block">
                <img class="bd-placeholder-img"  src="assets/Mysteries/Luminous/third.jpg" height="250" width="200">

            </div>

           <div class="col p-4 d-flex flex-column position-static">
            <h2 class="mb-0">The Third Luminous Mysteries</h2>
            <h3 class="mb-0"><strong class="d-inline-block mb-2 text-primary pannel-heading">The Transfiguration</strong></h3>
            <div class="mb-1 text-muted"></div>
            <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <div class="mb-1 text-muted"></div>
            <p class="card-text mb-auto"><strong>One Our Father, Ten Hail Marys, One Glory Be</strong></p>
            <h4 class="mb-0">For holy fear of God.</h4>
            
          </div>
          
        </div>
      </div>

      <div class="col-xs-12 col-md-8 container" >
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" id="cardItem">


            <div class="col-auto d-none d-lg-block">
                <img class="bd-placeholder-img"  src="assets/Mysteries/Luminous/fourth.jpg" height="250" width="200">

            </div>

           <div class="col p-4 d-flex flex-column position-static">
            <h2 class="mb-0">The Fourth Luminous Mysteries</h2>
            <h3 class="mb-0"><strong class="d-inline-block mb-2 text-primary pannel-heading">Institution of the Holy Eucharist</strong></h3>
            <div class="mb-1 text-muted"></div>
            <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <div class="mb-1 text-muted"></div>
            <p class="card-text mb-auto"><strong>One Our Father, Ten Hail Marys, One Glory Be</strong></p>
            <h4 class="mb-0">For thanksgiving to God.</h4>
            
          </div>
          
        </div>
      </div>

      <div class="col-xs-12 col-md-8 container" >
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" id="cardItem">


            <div class="col-auto d-none d-lg-block">
                <img class="bd-placeholder-img"  src="assets/Mysteries/Luminous/fifth.jpg" height="250" width="200">

            </div>

           <div class="col p-4 d-flex flex-column position-static">
            <h2 class="mb-0">The Fifth Luminous Mysteries</h2>
            <h3 class="mb-0"><strong class="d-inline-block mb-2 text-primary pannel-heading">The Coronation of the Blessed Virgin Mary</strong></h3>
            <div class="mb-1 text-muted"></div>
            <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <div class="mb-1 text-muted"></div>
            <p class="card-text mb-auto"><strong>One Our Father, Ten Hail Marys, One Glory Be</strong></p>
            <h4 class="mb-0">For eternal salvation.</h4>
            
          </div>
          
        </div>
      </div>
</body>