<body id="phamplet">
    <div class="col-xs-12 col-md-8 container" >
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" id="cardItem">


            <div class="col-auto d-none d-lg-block">
                <img class="bd-placeholder-img"  src="assets/Mysteries/Sorrowful/first.jpg" height="250" width="200">

            </div>

           <div class="col p-4 d-flex flex-column position-static">
            <h2 class="mb-0">The First Sorrowful Mysteries</h2>
            <h3 class="mb-0"><strong class="d-inline-block mb-2 text-primary pannel-heading">The Agony in the Garden</strong></h3>
            <div class="mb-1 text-muted"></div>
            <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <div class="mb-1 text-muted"></div>
            <p class="card-text mb-auto"><strong>One Our Father, Ten Hail Marys, One Glory Be</strong></p>
            <h4 class="mb-0">For true contrition for sin.</h4>
            
          </div>
          
        </div>
      </div>
     
      <div class="col-xs-12 col-md-8 container" >
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" id="cardItem">


            <div class="col-auto d-none d-lg-block">
                <img class="bd-placeholder-img"  src="assets/Mysteries/Sorrowful/second.jpg" height="250" width="200">

            </div>

           <div class="col p-4 d-flex flex-column position-static">
            <h2 class="mb-0">The Second Sorrowful Mysteries</h2>
            <h3 class="mb-0"><strong class="d-inline-block mb-2 text-primary pannel-heading">The Scourging at the Pillar</strong></h3>
            <div class="mb-1 text-muted"></div>
            <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <div class="mb-1 text-muted"></div>
            <p class="card-text mb-auto"><strong>One Our Father, Ten Hail Marys, One Glory Be</strong></p>
            <h4 class="mb-0">For the virtue of purity.</h4>
            
          </div>
          
        </div>
      </div>

      <div class="col-xs-12 col-md-8 container" >
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" id="cardItem">


            <div class="col-auto d-none d-lg-block">
                <img class="bd-placeholder-img"  src="assets/Mysteries/Sorrowful/third.jpg" height="250" width="200">

            </div>

           <div class="col p-4 d-flex flex-column position-static">
            <h2 class="mb-0">The Third Sorrowful Mysteries</h2>
            <h3 class="mb-0"><strong class="d-inline-block mb-2 text-primary pannel-heading">Crowning with Thorns</strong></h3>
            <div class="mb-1 text-muted"></div>
            <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <div class="mb-1 text-muted"></div>
            <p class="card-text mb-auto"><strong>One Our Father, Ten Hail Marys, One Glory Be</strong></p>
            <h4 class="mb-0">For moral courage.</h4>
            
          </div>
          
        </div>
      </div>

      <div class="col-xs-12 col-md-8 container" >
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" id="cardItem">


            <div class="col-auto d-none d-lg-block">
                <img class="bd-placeholder-img"  src="assets/Mysteries/Sorrowful/fourth.jpg" height="250" width="200">

            </div>

           <div class="col p-4 d-flex flex-column position-static">
            <h2 class="mb-0">The Fourth Sorrowful Mysteries</h2>
            <h3 class="mb-0"><strong class="d-inline-block mb-2 text-primary pannel-heading">Carrying of the Cross</strong></h3>
            <div class="mb-1 text-muted"></div>
            <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <div class="mb-1 text-muted"></div>
            <p class="card-text mb-auto"><strong>One Our Father, Ten Hail Marys, One Glory Be</strong></p>
            <h4 class="mb-0">For the virtue of patience.</h4>
            
          </div>
          
        </div>
      </div>

      <div class="col-xs-12 col-md-8 container" >
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" id="cardItem">


            <div class="col-auto d-none d-lg-block">
                <img class="bd-placeholder-img"  src="assets/Mysteries/Sorrowful/fifth.jpg" height="250" width="200">

            </div>

           <div class="col p-4 d-flex flex-column position-static">
            <h2 class="mb-0">The Fifth Sorrowful Mysteries</h2>
            <h3 class="mb-0"><strong class="d-inline-block mb-2 text-primary pannel-heading">The Crucifixion</strong></h3>
            <div class="mb-1 text-muted"></div>
            <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <div class="mb-1 text-muted"></div>
            <p class="card-text mb-auto"><strong>One Our Father, Ten Hail Marys, One Glory Be</strong></p>
            <h4 class="mb-0">For final perseverance.</h4>
            
          </div>
          
        </div>
      </div>
</body>