.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#phamplet{
    background-color: #F6FCFC;
}

.img-container {
    text-align: center;
}

.title-center{
    text-align: center;
}

.importantBold{
    font-weight: bold;
}

.pageTitle{
    font-weight: bolder;
}

.verse{
    font-style: oblique;
    font-weight: 550;
}


.response{
    font-style: italic;
    font-weight: 550;
    font-family: "CustomFont";
    src: url("/client/src/assets/Fonts/AdineKirnberg-Script.ttf");
}

.litany{
    list-style-type:none;
}

@media (max-width: 575.98px) { 
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    
}


@media (min-width: 576px) and (max-width: 767.98px) { 
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
}


@media (min-width: 768px) and (max-width: 991.98px) { 
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
    }
}


@media (min-width: 992px) and (max-width: 1199.98px) { 
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
}


@media (min-width: 1200px) { 
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
}

