<body id="phamplet">

    <div class="col-xs-12 container" >
        <h1 class="row center img-container pageTitle">The Rosary of the Seven Sorrows of Our Lady.</h1>    
        <div class="row ">
            <img class="img-thumbnail center"  src="assets/OurLadyOfSorrows.webp" height="100%" width="100%">
        </div>
    </div>
    <br>
    <br>
    <br>

    <div class="col-xs-12 col-md-8 container">
        <h3>Simeon blessed them and said to Mary his mother, “Behold, this child is destined for the fall and rise of many in Israel,
            and to be a sign that will be contradicted and you yourself a sword will pierce so that the thoughts of many hearts may be revealed.”
            -Luke 2:34-35</h3>
    </div>

    <br>
    <br>
    <br>

    <div class="col-xs-12 col-md-8 container img-container">
        <p class="importantBold">Prayers and meditations composed by Fr. Scott McCaig, CC, Moderator (General Superior) of the Companions of the Cross. </p>
        <p>A convert to the Catholic Church, he was ordained to the priesthood in 1995. In his priestly ministry he has served as pastor, hospital chaplain, 
        and Director of Seminarian Formation for the Companions of the Cross. Scripture texts in this work are taken from the New American Bible with Revised New Testament 
        and Revised Psalms © 1991, 1986, 1970 Confraternity of Christian Doctrine, Washington, D.C. and are used by permission of the copyright owner. All Rights Reserved. 
        No part of the New American Bible may be reproduced in any form without permission in writing from the copyright owner.</p>
        
        <a class="importantBold" href="www.companionscross.org" class="">www.companionscross.org</a>
    </div>

    <br>
    <br>
    <br>

    <div class="col-xs-12 col-md-8 container">
        <p>
        This booklet is published in celebration of the 
        Year for Priests (“Anno Sacerdotale”) from June 
        2009 to June 2010. Pope Benedict XVI 
        highlighted the “necessary, indeed indispensable, 
        aspiration to moral perfection that must dwell in 
        every authentically priestly heart.” 
        </p>

        <p class="importantBold">
        We encourage those who embrace this devotion 
        to pray that all priests strive for “spiritual 
        perfection, on which, above all, the effectiveness 
        of their ministry depends” (Address to the 
        Congregation for the Clergy, 16 March 2009).
        </p>

    </div>

    <br>
    <br>
    <br>

    <div class="col-xs-12 col-md-8 container">
        <h2 class="pageTitle">HISTORY</h2>
        <br>
        <p>
        This devotion to Our Sorrowful Mother originated in the thirteenth century. 
        It recalls the Sorrows the Virgin Mother of God endured in compassion for the 
        suffering and death of her Divine Son.
        </p>

        <p>
        The Litany of the Seven Sorrows of Our Lady found at the end of this booklet 
        was composed by Pope Pius VII (1740-1823) while held in captivity during the 
        Napoleonic Wars.These devotions are particularly appropriate for the spiritual 
        children of Fr. Bob Bedard, CC, Founder of the Companions of the Cross. We cultivate 
        a profound devotion to the Cross of our Lord Jesus Christ and to Our Lady, who at 
        Calvary became the first companion of the Cross.
        </p>

    </div>


    <br>
    <br>
    <br>

    <div class="col-xs-12 col-md-8 container">
        <h2 class="pageTitle">PROMISES</h2>
        <br>
        <p>
        St. Bridget of Sweden (1303-1373) reported that Our Lady promised to grant seven 
        graces to those who honor her and draw near to her and her Son every day by meditating 
        on her dolors (sorrows):
        </p>

        <ol>
            <li>I will grant peace to their families.</li>
            <li>They will be enlightened about the divine Mysteries.</li>
            <li>I will console them in their pains and will accompany them in their work.</li>
            <li>I will give them as much as they ask for as long as it does not oppose the adorable will of my 
            divine Son or the sanctification of their souls.</li>
            <li>I will defend them in their spiritual battles with the infernal enemy and I will protect them 
            at every instant of their lives.</li>
            <li>I will visibly help them at the moment of their death-- they will see the face of their mother.</li>
            <li>I have obtained this grace from my divine Son: 
            that those who propagate this devotion to my tears and sorrows will be taken directly from this 
            earthly life to eternal happiness, since all their sins will be forgiven and my Son will be their 
            eternal consolation and joy.</li>
        </ol>
    </div>


    <br>
    <br>
    <br>

    <div class="col-xs-12 col-md-8 container">
        <h2 class="pageTitle img-container">How to pray the Rosary of the Seven Sorrows</h2>
        <br>

        <ol>
            <li>Pray the Introductory Prayers (on the medal or Cross).</li>
            <li>Announce the First Sorrow; then pray the Our Father.</li>
            <li>Pray seven Hail Mary’s while meditating on the Sorrow</li>
            <li>At the conclusion of each Sorrow, pray “Holy Mother hear my prayers, and renew in my 
            heart each wound of Jesus my Savior.”</li>
            <li>Repeat steps 2 - 4 for all seven Sorrows.</li>
            <li>Pray three Hail Mary’s in honor of the tears of Our Sorrowful Mother 
            (on the three final beads).</li>
            <li>Pray the Closing Prayers.</li>
            <li>You may also wish to pray the Litany of the Seven Sorrows of Our Lady.</li>
        </ol>
    </div>


    <br>
    <br>
    <br>

    <div class="col-xs-12 col-md-8 container">
        <h2 class="pageTitle">INTRODUCTORY PRAYERS</h2>
        <br>
        <p>
        In the Name of the Father, and of the Son, and of the Holy Spirit. Amen.My  God,  
        I  offer  you  this  rosary  for  your  glory.  I want  to  honor  your  Holy  Mother,  
        the  Blessed Virgin,  by  meditating  upon  and  sharing  in  her suffering. O  my  Lord  and  
        Savior, Jesus  Christ,  trusting  in your  infinite  love  I  turn  to  you  for  forgiveness 
        and  mercy.  I  am  truly  sorry  for  the  pains  you suffered  in  your  most  bitter  Passion  
        because  of my  sins.  For  love  of  you,  and  before  your  holy presence,  I  utterly  renounce  
        and  forsake  all  the sins of my whole life. I ask pardon of you with all my  heart.  I  firmly  
        resolve  to  amend  my  life  and would rather die than offend you again
        </p>

        <p>
        O   Blessed   Virgin   Mary,   you   are   our   tender Mother  and  the  refuge  of  sinners.  
        I  run  to  you with  confidence  and  love.  Hide  me  under  your mantle of love and protection. 
        As I meditate upon the    swords    of    sorrow    that    pierced    your Immaculate  Heart,  obtain  
        for  me  the  forgiveness of  my  sins  and  the  grace  to  live  a  life  of  heroic holiness. O  Blessed 
        Mother, I unite  my  heart  to  yours  and offer  this  rosary  for  priests:  for  their  growth  in holiness, 
        obedience  to  the Magisterium,  boldness in   the   proclamation   of   the   Gospel,   and   a profound  love  
        for  the  people  of  God.  May  all priests  humbly  lead  the  souls  entrusted  to  their care into an intimate 
        relationship with the Lord.
        </p>

        <p class="">[I also pray for the following particular intentions...]</p>
        

        <p class="response">V.Come, Holy Spirit, fill the hearts of your faithful and enkindle in them the fire of your love. </p>
        <p class="response">R.Send forth your Spirit and they shall be created,and you shall renew the face of the earth</p>
    </div>

    <br>
    <br>
    <br>

    <div class="col-xs-12 col-md-8 container">
        
    </div>

    <br>
    <br>
    <br>

    <div class="col-xs-12 col-md-8 container">
        <h2 class="pageTitle title-center">The First Sword of Sorrow</h2>

        <p class="title-center importantBold">
        Simeon announces the suffering destiny of Jesus 
        </p>
        <p class="title-center importantBold" (click)="bibleVerse('Luke 2:34-35')">
        (Luke 2:34-35)
        </p>
        <p *ngIf="vues[0]"> {{value}}
            <br>

            
            
            <input type="button" (click)="bibleVerseClose('Luke 2:34-35')" value="Close">
        </p>

        <p>
        O Mother of Sorrows, how deeply your heart was pierced  with  sorrow  when  Simeon  announced that
        Jesus,  your  beloved Child,  was  to  be  a  sign that  would  be  rejected. Your  heart  knew  that  
        He was to be the suffering Messiah the prophets had foretold, the man of sorrows, who would carry all 
        our sins and heal us by His wounds. Through this bitter  sorrow  obtain  for  us  the  grace  never  
        to reject  Jesus  or  refuse  Him  anything.  Help  us  to completely surrender our lives to Him and to 
        live according to His most holy will in everything.
        </p>

        <p class="title-center response">
        Our Father & seven Hail Mary’s 
        </p>

        <p class="title-center response">
        Holy Mother hear my prayers, and renew in my heart each wound of Jesus my Savior.
        </p>
    </div>

    <br>
    <br>
    <br>

    <div class="col-xs-12 col-md-8 container">
        <h2 class="pageTitle title-center">The Second Sword of Sorrow</h2>

        <p class="title-center importantBold">
        Mary escapes into Egypt with Jesus and Joseph
        </p>

        <p class="title-center importantBold" (click)="bibleVerse('Matt 2:13-15')"> 
        (Matt 2:13-15)
        </p>
        <p *ngIf="vues[1]"> {{value}}
            <br>

            
            
            <input type="button" (click)="bibleVerseClose('Matt 2:13-15')" value="Close">
        </p>

        <p>
        O Mother of Sorrows, what pain filled your heart as  you  fled  your  home  and  country  knowing  
        that the  tyrant  Herod  was  intent  on  murdering  your little Child whom  you  loved  above all else. 
        The hardships of travel, the long journey, and life as a refugee  was  nothing  compared  to  the  torment  
        of such demonic malice directed toward Jesus. Through this bitter sword of sorrow obtain for us the  grace  
        never to risk the life of Jesus in our souls through deliberate sin.
        </p>
        
        <p class="title-center response">
        Our Father & seven Hail Mary’s 
        </p>
        
        <p class="title-center response">
        Holy Mother hear my prayers, and renew in my heart each wound of Jesus my Savior.
        </p>

    </div>

    <br>
    <br>
    <br>

    <div class="col-xs-12 col-md-8 container">
        <h2 class="pageTitle title-center">The Third Sword of Sorrow</h2>

        <p class="title-center importantBold">
        Mary seeks Jesus lost in Jerusalem
        </p>

        <p class="title-center importantBold" (click)="bibleVerse('Luke 2:41-51')">
        (Luke 2:41-51)
        </p>
        <p *ngIf="vues[2]"> {{value}}
            <br>

            
            
            <input type="button" (click)="bibleVerseClose('Luke 2:41-51')" value="Close">
        </p>

        <p>
        O Mother of Sorrows, what grief filled your heart as  you  and  Joseph  searched  desperately  for  
        Jesus when you could not find Him among your relatives and friends returning homefrom Jerusalem. 
        When your  Son replied that He  must be about His Father’s business, you accepted that He had begun the 
        mission that would lead to His sacrificial  death.The sorrow  of  those three  days of  separation prepared 
        you for the three days of suffering you endured while His body laylifeless in the tomb. Through this bitter 
        sword of sorrow obtain for us the grace to accept the ways of Divine Providence even when we do not understand 
        them.
        </p>
        
        <p class="title-center response">
        Our Father & seven Hail Mary’s 
        </p>

        <p class="title-center response">
        Holy Mother hear my prayers, and renew in my heart each wound of Jesus my Savior.
        </p>

    </div>

    <br>
    <br>
    <br>

    <div class="col-xs-12 col-md-8 container">
        <h2 class="pageTitle title-center">The Fourth Sword of Sorrow</h2>
        
        <p class="title-center importantBold">
        Mary meets Jesus as He carries His Cross to Calvary
        </p>
        
        <p class="title-center importantBold" (click)="bibleVerse('Luke 23:26-31')">
        (cf. Luke 23:26-31)
        </p>
        <p *ngIf="vues[3]"> {{value}}
            <br>

            
            
            <input type="button" (click)="bibleVerseClose('Luke 23:26-31')" value="Close">
        </p>

        <p>
        O Mother of Sorrows, how it must have wounded your tender  maternal  heart  to  see  your  beloved 
        Son Jesus carrying His Cross to Calvary, the place of execution! How it must have pained you to see 
        Him so bloodied, beaten, and reviled as He strained to fulfill  His  deepest  desire  
        to give  His life as a ransom for us. Through this bitter sword of sorrow obtain for us the 
        grace to deny ourselves, pick up our crosses, and follow Jesus with perseverance and love.
        </p>
        
        <p class="title-center response">
        Our Father & seven Hail Mary’s
        </p>
        
        <p class="title-center response">
        Holy Mother hear my prayers, and renew in my heart each wound of Jesus my Savior.
        </p>

    
    </div>

    <br>
    <br>
    <br>

    <div class="col-xs-12 col-md-8 container">
        <h2 class="pageTitle title-center">The Fifth Sword of Sorrow</h2>

        <p class="title-center importantBold">
        Mary stands near the Cross of her Son Jesus
        </p>

        <p class="title-center importantBold" (click)="bibleVerse('John 19:25-27')">
        (John 19:25-27)
        </p>
        <p *ngIf="vues[4]"> {{value}}
            <br>

            
            
            <input type="button" (click)="bibleVerseClose('John 19:25-27')" value="Close">
        </p>

        <p>
        O Mother of Sorrows, here the prophecy of Simeon comes to its ultimate fulfillment: the sword of sorrow 
        impales your heart as you stand beneath the Cross of your Son. Crucified spiritually with your crucified 
        Son, you offered Him to the Father and united yourself completely to His self-offering and sacrificial death.
        We simply cannot fathom the pain of your offering or the depth of love that inspired it.Through this bitter 
        sword of sorrow obtain for us the grace to unite all our sufferings to our crucified Lord with unselfish generosity and love. 
        </p>
        
        <p class="title-center response">
        Our Father & seven Hail Mary’s
        </p>
        
        <p class="title-center response">
        Holy Mother hear my prayers, and renew in my heart each wound of Jesus my Saviour.
        </p>

    </div>

    <br>
    <br>
    <br>

    <div class="col-xs-12 col-md-8 container">
        <h2 class="pageTitle title-center">The Sixth Sword of Sorrow</h2>

        <p class="title-center importantBold">
        Mary receives into her arms the body of Jesus taken down from the Cross
        </p>
        
        <p class="title-center importantBold" (click)="bibleVerse('John 19:38')">
        (cf. John 19:38)
        </p>
        <p *ngIf="vues[5]"> {{value}}
            <br>

            
            
            <input type="button" (click)="bibleVerseClose('John 19:38')" value="Close">
        </p>

        <p>
        O Mother of Sorrows, your heart was drowned in grief as you embraced the lifeless corpse of your Son. 
        He who was your very life was now dead. Your light in this life was extinguished.  
        Yet you accepted this sorrow with love knowing that it was all part of the Father’s plan of salvation. 
        Through this bitter sword of sorrow obtain for us the grace to accept with patience and love the sorrows 
        that befall us in this vale of tears, firmly believing that God works all things to the good for those 
        who love Him.
        </p>
        
        <p class="title-center response">
        Our Father & seven Hail Mary’s
        </p>
        
        <p class="title-center response">
        Holy Mother hear my prayers, and renew in my heart each wound of Jesus my Savior.
        </p>
    </div>

    <br>
    <br>
    <br>

    <div class="col-xs-12 col-md-8 container">
        <h2 class="pageTitle title-center">The Seventh Sword of Sorrow</h2>
        
        <p class="title-center importantBold">
        Mary helps place the body of Jesusin the tomb
        </p>

        <p class="title-center importantBold" (click)="bibleVerse('John 19:39-42')">
        (cf. John 19:39-42)
        </p>
        <p *ngIf="vues[6]"> {{value}}
            <br>

            
            
            <input type="button" (click)="bibleVerseClose('John 19:39-42')" value="Close">
        </p>
        
        <p>
        O Mother of Sorrows, who could express the cruel anguish of this moment? The same Child that you once wrapped 
        in swaddling clothes amidst unspeakable joy, you now wrap silently in His burial shroud. Your tears mingle with
        the blood and dirt that covers His broken body.But even in this moment your trust in His promise did not die.Your
        mourning was not without hope,for you knew that He would rise again from this grave just as He promised.Through this
        bitter sword of sorrow obtain for us the grace to believe with unshakable hope in the victory of our Lord even in the 
        darkest moments of life.
        </p>

        <p class="title-center response">
        Our Father & seven Hail Mary’s
        </p>

        <p class="title-center response">
        Holy Mother hear my prayers, and renew in my heart each wound of Jesus my Savior.
        </p>
        <br>

        <p class="importantBold">
        Pray three Hail Mary’s in honor of the tears of Our Sorrowful Mother.
        </p>
        <br>
        <br>
        <br>
    </div>


    <br>
    <br>
    <br>

    <div class="col-xs-12 col-md-8 container">
        <h2 class="pageTitle">Closing Prayers</h2>
        
        <p>
        O  Mary, you truly became the Queen of all martyrs as these seven bitter swords of sorrow pierced 
        your Immaculate Heart! By the merits of your tearful distress obtain for us and for all sinners the 
        graces of perfect contrition and conversion.Help us always,dear Mother, to imitate you by taking up 
        our crosses and following Jesus with limitless love and generosity. 
        Amen.
        </p>
        
        <p>
        Mary, who was conceived without sin and who suffered for us, pray for us.
        <i>(Say three times)</i>
        </p>
        


    </div>

    <br>
    <br>
    <br>

    <div class="col-xs-12 col-md-8 container">
        <h2 class="pageTitle"> Litany of Our Lady of Seven Sorrows</h2>
        <p>by Pope Pius VII</p>

        <br>

        <p class="response">
        V. Lord, have mercy on us.<br>
        R. Christ, have mercy on us.<br>
        V. Lord, have mercy on us. Christ, hear us.<br>
        R. Christ, graciously hear us.<br>
        </p>
        
        <p>
        God, the Father of heaven, <i>have mercy on us.</i><br>
        God the Son, Redeemer of the world, <i>have mercy on us.</i><br>
        God the Holy Spirit,<i> have mercy on us.</i><br>
        <p>
        
        <ul class="litany">
        <li>Holy Mary, Mother of God, <i>pray for us.</i></li>
        <li>Holy Virgin of virgins,<i> pray for us.</i></li>
        <li>Mother of the Crucified, [<i>etc.</i>]
        <li>Sorrowful Mother</li>
        <li>Mournful Mother</li>
        <li>Sighing Mother</li>
        <li>Afflicted Mother</li>
        <li>Forsaken Mother</li>
        <li>Desolate Mother</li>
        <li>Mother most sad</li>
        <li>Mother set around with anguish</li>
        <li>Mother overwhelmed by grief</li>
        <li>Mother transfixed by a sword</li>
        <li>Mother crucified in your heart</li>
        <li>Mother bereaved of your Son</li>
        <li>Sighing Dove</li>
        <li>Mother of Sorrows</li>
        <li>Fount of tears</li>
        <li>Sea of bitterness</li>
        <li>Field of tribulation</li>
        <li>Mass of suffering</li>
        <li>Mirror of patience</li>
        <li>Rock of constancy</li>
        <li>Remedy in perplexity</li>
        <li>Joy of the afflicted</li>
        <li>Ark of the desolate</li>
        <li>Refuge of the abandoned</li>
        <li>Shield of the oppressed</li>
        <li>Conqueror of the incredulous</li>
        <li>Solace of the wretched</li>
        <li>Medicine of the sick</li>
        <li>Help of the faint</li>
        <li>Strength of theweak</li>
        <li>Protectress of those who fight</li>
        <li>Haven of the shipwrecked</li>
        <li>Calmer of tempests</li>
        <li>Companion of the sorrowful</li>
        <li>Retreat of those who groan</li>
        <li>Terror of the treacherous</li>
        <li>Standard-bearer of the Martyrs</li>
        <li>Treasure of the Faithful</li>
        <li>Light of ConfessorsPearl of Virgins</li>
        <li>Comfort of Widows</li>
        <li>Joy of all Saints</li>
        <li>Queen of your Servants</li> 
        <li>Holy Mary, who alone are beyond compare</li>
        </ul>    

        <p class="response">
        V. Pray for us, most Sorrowful Virgin,<br>
        R. That we may be made worthy of the promises of Christ.
        </p>
    </div>

    <br>
    <br>
    <br>

    <div class="col-xs-12 col-md-8 container">
        <p class="importantBold">Let us pray.</p>
        
        <p>
        O God, in whose Passion, according to the prophecy of Simeon, a sword of grief pierced through the 
        most sweet soul of Thy glorious Blessed Virgin Mother Mary: grant that we, who celebrate the memory 
        of her Seven Sorrows, may obtain the happy effect of Your Passion, Who lives and reigns world without 
        end. 
        </p>
        
        <i>Amen.</i>
    </div>


    <br>
    <br>
    <br>

    <div class="col-xs-12 col-md-8 container">
       <h1> <a href="https://www.companionscross.org/sites/default/files/file-attachments/The%20Rosary%20of%20the%20Seven%20Sorrows%20of%20Our%20lady_edited.pdf"> Printable link here.</a></h1>
    </div>

    <br>
    <br>
    <br>

</body>