.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

#phamplet{
    background-color: #F6FCFC;
}

.img-container {
    text-align: center;
}

.title-center{
    text-align: center;
}

.prayerArea{
    text-align: center;
    white-space: pre-line;
}

.importantBold{
    font-weight: bold;
}

.pageTitle{
    font-weight: bolder;
}

.verse{
    font-style: oblique;
    font-weight: 550;
}


.response{
    font-style: italic;
    font-weight: 550;
    font-family: "CustomFont";
    src: url("/client/src/assets/Fonts/AdineKirnberg-Script.ttf");
}

.litany{
    list-style-type:none;
}