
    <div class="container ">
        <h1 class="importantBold">How to Pray the Rosary</h1>
    </div>

    <div class="container">
        <p>
        On the 5 decades (sets of 10 beads) of a rosary, 
        we pray and meditate on the corresponding set of 
        5 Mysteries from the Joyful Mysteries, the Sorrowful Mysteries, 
        the Glorious Mysteries, or the Luminous Mysteries.
        </p>

        <br>
        <br>

        <div class="container">
            <div class="row  justify-content-center">
            <img src="assets/map.gif">
            </div>
        </div>
        
        <br>
        <br>

        <ol>
        <li><a href="https://www.marian.org/mary/rosary/cross.html" target="_blank">Make the Sign of the Cross</a> and say the 
            <a href="https://www.marian.org/mary/rosary/creed.html" target="_blank">"Apostles Creed."</a></li>
        <li>Say the <a href="https://www.marian.org/mary/rosary/ourfather.html" target="_blank">"Our Father."</a></li>
        <li>Say three <a href="https://www.marian.org/mary/rosary/hailmary.html" target="_blank">"Hail Marys."</a></li>
        <li>Say the <a href="https://www.marian.org/mary/rosary/glory.html" target="_blank">"Glory be to the Father."</a></li>
        <li>Announce the First Mystery; then say the <a href="https://www.marian.org/mary/rosary/ourfather.html" target="_blank">"Our Father."</a></li>
        <li>Say ten <a href="https://www.marian.org/mary/rosary/hailmary.html" target="_blank">"Hail Marys,"</a> while meditating on the Mystery.</li>
        <li>Say the <a href="https://www.marian.org/mary/rosary/glory.html" target="_blank">"Glory be to the Father."</a> After each decade say the following prayer requested by the Blessed Virgin Mary at Fatima: 
        "O my Jesus, forgive us our sins, save us from the fires of hell, lead all souls to Heaven, especially those in most need of Thy mercy."</li>
        <li>Announce the Second Mystery: then say the "Our Father." Repeat 6 and 7 and continue with the Third, Fourth, and Fifth Mysteries in the same manner.</li>
        <li>Say the <a href="https://www.marian.org/mary/rosary/hailholy.html" target="_blank">'Hail, Holy Queen'</a> on the medal after the five decades are completed.</li>
        
        </ol>
        
        <br>
        <br>
        <br>
        <br>

        <ul>
        <h3 class="importantBold">Daily Mystery Meditations</h3>
        <br>

        <li>Monday: <a class="nav-link" routerLink="/joyful" >Joyful</a></li>
        <li>Tuesday: <a class="nav-link" routerLink="/sorrowful">Sorrowful</a></li>
        <li>Wednesday: <a class="nav-link" routerLink="/glorious">Glorious</a></li>
        <li>Thursday: <a class="nav-link" routerLink="/luminous">Luminous</a></li>
        <li>Friday: <a class="nav-link" routerLink="/sorrowful">Sorrowful</a></li>
        <li>Saturday: <a class="nav-link" routerLink="/joyful" >Joyful</a></li>
        <li>Sunday: <a class="nav-link" routerLink="/glorious">Glorious</a></li>
        

        <br>
        <h3 class="importantBold">The Mysteries traditionally adhere to certain days of the week.With Ecclesiastical Approval</h3>
        </ul>

        <br>
        <br>
    </div>