<div class="container ">
    <h1 class="importantBold">How to Pray the Rosary</h1>
</div>

<div class="container">
    <p>
        On the 5 decades (sets of 10 beads) of a rosary,
        we pray and meditate on the corresponding set of
        5 Mysteries from the Joyful Mysteries, the Sorrowful Mysteries,
        the Glorious Mysteries, or the Luminous Mysteries.
    </p>

    <br>
    <br>

    <div class="container">
        <div class="row  justify-content-center">
            <img src="assets/map.gif">
        </div>
    </div>

    <br>
    <br>

    <ol>
     
        <li> <strong (click)="showPrayer('SOTC')">Make the Sign of the Cross</strong> and
            say the
        <strong (click)="showPrayer('AP')">"Apostles Creed."</strong></li>

        <li>Say the <strong (click)="showPrayer('OF')">"Our Father."</strong></li>

        <li>Say three <strong (click)="showPrayer('HM')">"Hail Mary."</strong></li>

        <li>Say the <strong (click)="showPrayer('GB')">"Glory be to the Father."</strong></li>

        <li>Announce the First Mystery; then say the <strong (click)="showPrayer('OF')">"Our Father."</strong></li>

        <li>Say ten <strong (click)="showPrayer('HM')">"Hail Marys."</strong> while
            meditating on the Mystery.</li>

        <li>Say the <strong (click)="showPrayer('GB')">"Glory be to the Father."</strong> 
            After each decade say the following prayer requested by the Blessed Virgin Mary at Fatima:
            "O my Jesus, forgive us our sins, save us from the fires of hell, lead all souls to Heaven, especially those
            in most need of Thy mercy."</li>

        <li>Announce the Second Mystery: then say the <strong (click)="showPrayer('OF')">"Our Father."</strong> 
            Repeat 6 and 7 and continue with the Third, Fourth,
            and Fifth Mysteries in the same manner.</li>

        <li>Say the <strong (click)="showPrayer('HHQ')">"Hail Holy Queen." </strong> on
            the medal after the five decades are completed.</li>
        

        <br>

        <div>
            <h3  class="title-center" [innerHTML]="prayerTitle"></h3>
            <p   class="prayerArea" [innerHTML]="prayer"><p>
        </div>

    </ol>

    

    <br>
    <br>
    <br>
    <br>

    <ul>
        <h3 class="importantBold">Daily Mystery Meditations</h3>
        <br>

        <li>Monday and Saturday: <a class="nav-link" routerLink="/joyful">Joyful</a></li>
        <li>Tuesday and Friday: <a class="nav-link" routerLink="/sorrowful">Sorrowful</a></li>
        <li>Wednesday and Sunday: <a class="nav-link" routerLink="/glorious">Glorious</a></li>
        <li>Thursday: <a class="nav-link" routerLink="/luminous">Luminous</a></li>
    

        <br>
        <h6 class="importantBold">The Mysteries traditionally adhere to certain days of the week.With Ecclesiastical
            Approval</h6>
    </ul>

    <br>
    <br>
</div>