#cardItem{
    background-color: #D3E7f3;
}

#phamplet{
    background-color: #F6FCFC;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

#phamplet{
  background-color: #F6FCFC;
}

.img-container {
  text-align: center;
}

.title-center{
  text-align: center;
}

.importantBold{
  font-weight: bold;
}

.pageTitle{
  font-weight: bolder;
}

.verse{
  font-style: oblique;
  font-weight: 550;
}

.response{
  font-style: italic;
  font-weight: 550;
}

.litany{
  list-style-type:none;
}

@media (min-width: 300px) { 
  #cardItem{
    background-color: #D3E7f3;
    
  }

  #mysteryPicture{
    border: royalblue;
    border-width: 3px;
    border-style: double;
    
  }
}



@media (min-width: 576px) { 
  #cardItem{
    background-color: #D3E7f3;
    
  }

  #mysteryPicture{
    border: royalblue;
    border-width: 3px;
    border-style: double;
  }
}


@media (min-width: 768px) { 

 }


@media (min-width: 992px) { 

 }


@media (min-width: 1200px) { 

}