<body id="phamplet">
  <div *ngFor="let item of  joyfulMystery">
    <h3 class="mb-0">{{item.MysteryName}}</h3>
  </div>
    
    <div class="col-xs-12 col-md-8 container" >
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" id="cardItem">


            <div class="col-auto d-none d-lg-block">
                <img class="bd-placeholder-img"  src="assets/Mysteries/Joyful/first.jpg" height="250" width="200">

            </div>

           <div class="col p-4 d-flex flex-column position-static">
            <h2 class="mb-0">The First Joyful Mysteries</h2>
            <h3 class="mb-0"><strong class="d-inline-block mb-2 text-primary pannel-heading">The Annunciation</strong></h3>
            <div class="mb-1 text-muted"></div>
            <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <div class="mb-1 text-muted"></div>
            <p class="card-text mb-auto"><strong>One Our Father, Ten Hail Marys, One Glory Be</strong></p>
            <h4 class="mb-0">For the love of humility.</h4>
            
          </div>
          
        </div>
      </div>
     
      <div class="col-xs-12 col-md-8 container" >
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" id="cardItem">


            <div class="col-auto d-none d-lg-block">
                <img class="bd-placeholder-img"  src="assets/Mysteries/Joyful/second.jpg" height="250" width="200">

            </div>

           <div class="col p-4 d-flex flex-column position-static">
            <h2 class="mb-0">The Second Joyful Mysteries</h2>
            <h3 class="mb-0"><strong class="d-inline-block mb-2 text-primary pannel-heading">The Visitation</strong></h3>
            <div class="mb-1 text-muted"></div>
            <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <div class="mb-1 text-muted"></div>
            <p class="card-text mb-auto"><strong>One Our Father, Ten Hail Marys, One Glory Be</strong></p>
            <h4 class="mb-0">For charity towards my neighbour.</h4>
            
          </div>
          
        </div>
      </div>

      <div class="col-xs-12 col-md-8 container" >
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" id="cardItem">


            <div class="col-auto d-none d-lg-block">
                <img class="bd-placeholder-img"  src="assets/Mysteries/Joyful/third.jpg" height="250" width="200">

            </div>

           <div class="col p-4 d-flex flex-column position-static">
            <h2 class="mb-0">The Third Joyful Mysteries</h2>
            <h3 class="mb-0"><strong class="d-inline-block mb-2 text-primary pannel-heading">The Birth of Jesus</strong></h3>
            <div class="mb-1 text-muted"></div>
            <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <div class="mb-1 text-muted"></div>
            <p class="card-text mb-auto"><strong>One Our Father, Ten Hail Marys, One Glory Be</strong></p>
            <h4 class="mb-0">For the virtue of poverty.</h4>
            
          </div>
          
        </div>
      </div>

      <div class="col-xs-12 col-md-8 container" >
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" id="cardItem">


            <div class="col-auto d-none d-lg-block">
                <img class="bd-placeholder-img"  src="assets/Mysteries/Joyful/fourth.jpg" height="250" width="200">

            </div>

           <div class="col p-4 d-flex flex-column position-static">
            <h2 class="mb-0">The Fourth Joyful Mysteries</h2>
            <h3 class="mb-0"><strong class="d-inline-block mb-2 text-primary pannel-heading">The Presentation</strong></h3>
            <div class="mb-1 text-muted"></div>
            <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <div class="mb-1 text-muted"></div>
            <p class="card-text mb-auto"><strong>One Our Father, Ten Hail Marys, One Glory Be</strong></p>
            <h4 class="mb-0">For the virtue of obedience.</h4>
            
          </div>
          
        </div>
      </div>

      <div class="col-xs-12 col-md-8 container" >
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" id="cardItem">


            <div class="col-auto d-none d-lg-block">
                <img class="bd-placeholder-img"  src="assets/Mysteries/Joyful/fifth.jpg" height="250" width="200">

            </div>

           <div class="col p-4 d-flex flex-column position-static">
            <h2 class="mb-0">The Fifth Joyful Mysteries</h2>
            <h3 class="mb-0"><strong class="d-inline-block mb-2 text-primary pannel-heading">The Annunciation</strong></h3>
            <div class="mb-1 text-muted"></div>
            <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <div class="mb-1 text-muted"></div>
            <p class="card-text mb-auto"><strong>One Our Father, Ten Hail Marys, One Glory Be</strong></p>
            <h4 class="mb-0">For the love of piety.</h4>
            
          </div>
          
        </div>
      </div>
</body>