<body id="phamplet">
    
      <!-- BEST CODE-->

      <div   *ngFor="let item of joyfulMystery"  class="container" >
        <div class="row  rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 " id="cardItem">
  
          
            <div class="col-12 col-sm-12 col-md-4 col-lg-3 order-1 ">
                <img class="img-thumbnail"  src={{item.imageLocation}} height="100%" width="100%">
  
            </div>
  
           <div class="col-12 col-sm-12 col-md-8 col-lg-9 order-2 ">
            <div  class="" [ngSwitch]="item.MysteryNumber">
              <h2 *ngSwitchCase="1">The First {{item.MysteryType}} Mystery </h2>
              <h2 *ngSwitchCase="2">The Second {{item.MysteryType}} Mystery</h2>
              <h2 *ngSwitchCase="3">The Third {{item.MysteryType}} Mystery</h2>
              <h2 *ngSwitchCase="4">The Fourth {{item.MysteryType}} Mystery</h2>
              <h2 *ngSwitchCase="5">The Fifth {{item.MysteryType}} Mystery</h2>
            </div>

            <h3 class="mb-0"><strong class="d-inline-block mb-2 text-primary pannel-heading response">{{item.MysteryName}}</strong></h3>

            <p *ngIf="item.Matthew != ''" class="card-text mb-auto importantBold">{{item.Matthew}}</p>
            <p *ngIf="item.Mark != ''" class="card-text mb-auto importantBold">{{item.Mark}}</p>
            <p *ngIf="item.Luke != ''" class="card-text mb-auto importantBold">{{item.Luke}}</p>
            <p *ngIf="item.John != ''" class="card-text mb-auto importantBold">{{item.John}}</p>
            <p *ngIf="item.Verses != ''" class="card-text mb-auto importantBold">{{item.Verses}}</p>

            <div class="mb-1 text-muted"></div>
  
  
            <ol class="">
              <li>{{item.B1}}</li>
              <li>{{item.B2}}</li>
              <li>{{item.B3}}</li>
              <li>{{item.B4}}</li>
              <li>{{item.B5}}</li>
              <li>{{item.B6}}</li>
              <li>{{item.B7}}</li>
              <li>{{item.B8}}</li>
              <li>{{item.B9}}</li>
              <li>{{item.B10}}</li>
            </ol>

            <div class="mb-1 text-muted"></div>
            <p class="card-text mb-auto"><strong>One Our Father, Ten Hail Marys, One Glory Be</strong></p>
            
            
          </div>
          
        </div>
        <br>
        <br>
       
      </div>
</body>