<div class="component">
    <div class="component">
        <img src="../../../assets/Mysteries/Joyful/first-joyful.jpg"  height="100" width="100"> 
    </div>
</div>


<div class="component">
    <div class="component">
        <img src="../../../assets/Mysteries/Joyful/second-joyful.jpg"  height="100" width="100"> 
    </div>
</div>


<div class="component">
    <div class="component">
        <img src="../../../assets/Mysteries/Joyful/first-joyful.jpg"  height="100" width="100"> 
    </div>
</div>


<div class="component">
    <div class="component">
        <img src="../../../assets/Mysteries/Joyful/first-joyful.jpg"  height="100" width="100"> 
    </div>
</div>


<div class="component">
    <div class="component">
        <img src="../../../assets/Mysteries/Joyful/first-joyful.jpg"  height="100" width="100"> 
    </div>
</div>


<div class="component">
    <div class="component">
        <img src="../../../assets/Mysteries/Joyful/first-joyful.jpg"  height="100" width="100"> 
    </div>
</div>